<!DOCTYPE html>
<html>
  <head>
    <title>Voyages</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
	<style>
	body { margin: 0 }
	</style>
  </head>

  <body>
    <%# affiche l'image (le resultat de la template) %>
    <%= yield %>
  </body>
</html>
