<h1>Horaires d'ouverture</h1>
<ul>
<% (1..7).each do |j| %>
  <li><%= @jours[j] %> :
  <% if @horaires[j] != nil %>
    <%= @horaires[j][:ouverture] %>h -
    <%= @horaires[j][:fermeture] %>h
  <% else %>
    Fermé
  <% end %>
<% end %>
</ul>
<%= render :partial=>"/limites" %>
