<h1>Presentation#index</h1>
<p>Find me in app/views/presentation/index.html.erb</p>
<p>Cette page : http://127.0.0.1:3000/presentation/index</p>
<p><%= link_to "Mentions légales", "/presentation/mentions" %></p>
<p><%= link_to "En direct", "/presentation/endirect" %></p>
<p><%= link_to "Horaires", "/presentation/horaires" %></p>