<h1>Nouveau voyage</h1>
<%= form_with :model => @voyage do |f| %>
<p>
    <%= f.label "Nom" %>
    <%= f.text_field :nom %> 
</p>
<p>
    <%= f.label "Prix" %>
    <%= f.number_field :prix, :in=>100..10000 %> €
</p>
<p>
    <%= f.submit %>
</p>
<% end %>